{% extends "base/default-page.html" %}

{% block content %}
<div class="container ui" style="margin-bottom: 1em">
	<div class="ui segment">
    <h1 style="font-size: 2em; text-align: center; margin-bottom: 20px;">โรคหลอดเลือดสมอง</h1>
    <p>โรคหลอดเลือดสมอง หรือ Stroke คือ ภาวะสมองขาดเลือดที่เกิดจากหลอดเลือดสมองตีบ/อุดตันหรือมีเลือดออกในสมอง หรืออาการเส้นเลือดในสมองตีบ ทำให้เลือดไม่สามารถไปเลี้ยงสมองได้ ทำให้เซลล์สมองขาดออกซิเจน ส่งผลให้สมองตาย</p>
    
    <h3 style="font-size: 1.5em; margin-top: 20px;">ปัจจัยเสี่ยงที่ทำให้โอกาสการเกิดโรคหลอดเลือดสมอง</h3>
    <ul style="padding-left: 20px;">
        <li>ภาวะความดันโลหิตสูง</li>
        <li>เบาหวาน</li>
        <li>โรคหัวใจ</li>
        <li>อายุ — ผู้สูงวัยอายุ 55 หรือมากกว่า มีโอกาสเสี่ยงสูงกว่าในการเกิดโรคมากกว่าคนหนุ่มสาว</li>
        <li>เพศ — เพศชายมีความเสี่ยงสูงมากกว่าเพศหญิงในการเกิดโรคหลอดเลือดสมอง</li>
    </ul>

    <h3 style="font-size: 1.5em; margin-top: 20px;">แนวทางการป้องกันโรคหลอดเลือดสมอง</h3>
    <ul style="padding-left: 20px;">
        <li>ปรับระดับความดันโลหิตให้อยู่ในระดับปกติ</li>
        <li>หลีกเลี่ยงการรับประทานอาหารที่มีคลอเรสเตอรอลและไขมันอิ่มตัวสูง</li>
        <li>เลิกสูบบุหรี่</li>
        <li>ควบคุมอาการของโรคเบาหวาน</li>
        <li>ควบคุมน้ำหนักให้อยู่ในเกณฑ์ปกติ</li>
        <li>รับประทานผลไม้และผักให้มากยิ่งขึ้น</li>
        <li>ออกกำลังกายอย่างสม่ำเสมอ</li>
        <li>ลดการดื่มสุรา</li>
        <li>เข้ารับการรักษาภาวะหยุดหายใจขณะหลับ</li>
        <li>หลีกเลี่ยงการใช้สารเสพติด</li>
    </ul>
	</div>

	<div class="ui segment">
		<h2>ตรวจสอบความเสี่ยงที่จะเป็นโรคหลอดเลือดสมอง</h2>
		<form class="ui form" method="POST">
			<div class="two fields">
				<div class="field">
					<label for="gender">เพศ</label>
					<select class="ui dropdown" name="gender" id="gender">
							<option value="0">ชาย</option>
							<option value="1">หญิง</option>
					</select>
				</div>

				<div class="field">
					<label for="age">อายุ</label>
					<input type="number" step="0" name="age" id="age" required>
				</div>
			</div>

			<div class="two fields">
				<div class="field">
					<label for="hypertension">ความดันโลหิตสูง</label>
					<select class="ui dropdown" name="hypertension" id="hypertension">
							<option value="0">ไม่มี</option>
							<option value="1">มี</option>
					</select>
				</div>

				<div class="field">
					<label for="heart_disease">โรคหัวใจ</label>
					<select class="ui dropdown" name="heart_disease" id="heart_disease">
							<option value="0">ไม่มี</option>
							<option value="1">มี</option>
					</select>
				</div>
			</div>

			<div class="three fields">
				<div class="field">
					<label for="avg_glucose_level">ระดับน้ำตาลเฉลี่ยในเลือด</label>
					<input type="number" step="0.01" name="avg_glucose_level" id="avg_glucose_level" required>
				</div>

				<div class="field">
					<label for="bmi">ดัชนีมวลกาย (BMI)</label>
					<input type="number" step="0.01" name="bmi" id="bmi" required>
				</div>

				<div class="field">
				<label for="smoking_status">การสูบบุหรี่</label>
					<select class="ui dropdown" name="smoking_status" id="smoking_status">
							<option value="0">ไม่สูบ</option>
							<option value="1">เคยสูบ</option>
							<option value="2">สูบ</option>
					</select>
				</div>
			</div>

			<div class="ui right aligned container">
				<button class="ui primary button" type="submit">ยืนยัน</button>
			</div>
		</form>
	</div>

	<div class="ui segment" style="margin-bottom: 1em; padding-bottom: 20px;">
    <h3>ผลการตรวจสอบโอกาสที่จะเสี่ยงเป็นโรคหลอดเลือดสมอง: 
			{% if prediction is not none %}
        {{ "%.2f"|format(prediction) }}
      {% endif %} %
		</h3>
	</div>
</div>
{% endblock content %}

{% block additional_js %}
<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>

{% endblock additional_js %}
